<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>123</title>
    <script src="../../static/js/jquery-1.12.4.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body @font-family-base @font-size-base @font-height-base>
<a href="###">无敌</a>
<div class="container">快乐圣诞节福利快结束了
<div class="row">
<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" style="background-color: red">板块1</div>
<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" style="background-color: blue">板块2</div>
<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" style="background-color: yellow">板块3</div>
<div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" style="background-color: gray">板块4</div>
    </div>
<div class="row">
<div class="col-md-1 col-lg-3 col-sm-3 col-xs-3" style="background-color: red">板块1</div>
<div class="col-md-4 col-lg-3 col-sm-3 col-xs-3" style="background-color: blue">板块2</div>
<div class="col-md-6 col-lg-3 col-sm-3 col-xs-3" style="background-color: yellow">板块3</div>
<div class="col-md-1 col-lg-3 col-sm-3 col-xs-3" style="background-color: gray">板块4</div>
    </div>
<h1>标题1 <small>副标题1</small></h1>
    <p class="lead">莱卡件塑料可对方将数量开店附近</p>
    <p >莱卡件塑料可对方将数量开店附近</p>
</div>
</body>
</html>