<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/denglu.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {{ alert | safe }}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">请登录</div>
        </div>
        <form action="denglu" method="post" role="form">
            <div class="form-group">
                <lable>用户名</lable>
                <input type="text" placeholder="输入用户名" name="dengluming" class="form-control" id="yonghu">
            </div>
            <div class="form-group">
                <lable>密码</lable>
                <input type="password" placeholder="输入密码" name="denglumima" id="mima">
            </div>
            <button type="submit" class="btn btn-default" id="button">登陆</button>
        </form>
    </div>
</body>
</html>