<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-push-1 lead text-center" >远程锁操控系统</div>
    </div>
    <div class="row">
    <div class="col-xs-3" style="background-color: red"><a href="zhuce" class="lead"><strong class="text-center">注册</strong></a></div>
    <div class="col-xs-3" style="background-color: green"><a href="page_dl" class="lead"><strong class="text-center">登陆</strong></a></div>
    </div>
</div>
</body>
</html>