{% extends 'base_bottom.html' %}

{% block head %}
	<script type="text/javascript" src="/static/js/forgetPassword.js"></script>
{% endblock head %}

{% block body %}
	<div class="register_con">


		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>忘记密码</h1>
				<a href="login">登录</a>
			</div>
			<div class="reg_form clearfix">
				<form method="post">
                    {% csrf_token %}
				<ul>
					<li>
						<label>用户名:</label>
						<input type="text" name="user_name" id="user_name" value="{{ uname }}">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>邮箱:</label>
						<input type="text" name="email" id="email" value="{{ email }}">
						<span class="error_tip">提示信息</span>
					</li>
					<li class="reg_sub">
						<input type="submit" value="发　送">
						<span class="error_tip" style="display: block;">{{ err_msg }}</span>
					</li>
				</ul>
				</form>
			</div>

		</div>

	</div>
{% endblock body %}