{% extends 'base_bottom.html' %}
{% block head %}{% endblock head %}

{% block body %}

    <div class="login_title clearfix">
        <h1>欢迎使用smartLock</h1>

    </div>
    <div class="info_div" style="height: 170px">
    <ul>
        <li><a href="open_lock" class="info_a">开锁</a></li>
        <li><a href="close_lock" class="info_a">关锁</a></li>
        <li><a href="video" class="info_a">视频</a></li>
        <li><a href="chgpwd" class="info_a">修改密码</a></li>
        <li><a href="logout" class="info_a">退出登陆</a></li>
    </ul>
    </div>





{% endblock body %}