<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
</head>
<script>
    $(function () {
        var time1 = setInterval(myfunc,400);
        var a = 1;



        function myfunc() {

            $.get('video_img',function (data) {
                $('#video').attr('src',data['data']+a+'.jpg');

            });
            a += 1
        }


    })

</script>
<body>

<img src="" alt="视频" class="video" id="video">
<a href="stop_video" id="stop">返回</a>
</body>
</html>